version: 2.1

jobs:
  hello-job:
    - checkout # check out the code in the project directory
    - run: echo "hello world" # run the `echo` command

workflows:
  my-workflow:
    jobs:
      - hello-job
